In [18]:
import pandas as pd


df = pd.read_pickle("results.pkl")
df

,num_points,opt_len,nn_len,untouched_len,nwsp5_len,nwsp7_len,nwsp9_len
name,,,,,,,
berlin52,52,28918.21655,9194.130643,10818.833107,15754.600919,NaN,NaN
bier127,127,NaN,139602.236419,173055.130034,240701.831225,NaN,NaN
brd14051,14051,NaN,575718.536949,837139.5488,NaN,NaN,NaN
ch130,130,44083.168052,7378.680775,10043.991903,18073.575419,NaN,NaN
ch150,150,54024.084495,7982.489176,10882.8634,21066.948606,NaN,NaN
...,...,...,...,...,...,...,...
u574,574,NaN,48675.570373,73100.255604,239647.778422,NaN,NaN
u724,724,NaN,54024.446688,83230.419554,139368.707691,NaN,NaN
usa13509,13509,NaN,25178315.446225,39019971.446296,NaN,NaN,NaN
vm1084,1084,NaN,301229.210482,506252.713343,2150603.324728,NaN,NaN
vm1748,1748,NaN,427298.761754,681211.261718,3149947.137272,NaN,NaN

In [19]:
optimal_ready = df[df['opt_len'] >= 0]
optimal_ready

,num_points,opt_len,nn_len,untouched_len,nwsp5_len,nwsp7_len,nwsp9_len
name,,,,,,,
berlin52,52,28918.21655,9194.130643,10818.833107,15754.600919,NaN,NaN
ch130,130,44083.168052,7378.680775,10043.991903,18073.575419,NaN,NaN
ch150,150,54024.084495,7982.489176,10882.8634,21066.948606,NaN,NaN
eil101,101,3470.080707,862.68158,939.98217,1125.67072,NaN,NaN
eil51,51,1759.338244,590.674036,562.995183,682.823925,NaN,NaN
eil76,76,2644.470561,707.751657,790.592842,1008.695264,NaN,NaN
kroA100,100,176808.3093,27385.446195,39076.531975,57252.547305,NaN,NaN
kroC100,100,157104.617975,28820.352399,38320.748276,42152.280884,NaN,NaN
kroD100,100,173417.100417,27428.500507,40281.487011,68437.666512,NaN,NaN
lin105,105,59234.405641,19227.496918,25095.371175,37015.612662,NaN,NaN
pcb442,442,333391.530494,64601.010912,86475.992492,387221.351367,NaN,NaN
pr1002,1002,1036243.164085,339112.602285,491294.65235,4288763.024578,NaN,NaN
pr2392,2392,701372.634434,460230.26657,687553.627343,6723755.956584,NaN,NaN
pr76,76,258930.342539,135240.281438,167144.965989,227164.698666,NaN,NaN
st70,70,3361.923823,831.509542,1003.890564,1285.641651,NaN,NaN
tsp225,225,16696.334993,4917.376755,6947.247053,13523.469555,NaN,NaN

In [20]:
optimal_ready["nwsp5_len"] / optimal_ready["nn_len"]

name
berlin52      1.71355
ch130        2.449432
ch150        2.639145
eil101       1.304851
eil51        1.156008
eil76        1.425211
kroA100      2.090619
kroC100      1.462587
kroD100       2.49513
lin105       1.925139
pcb442       5.994045
pr1002      12.647018
pr2392      14.609548
pr76         1.679712
st70         1.546154
tsp225       2.750139
dtype: object