In [1]:
import pandas as pd

df = pd.read_pickle("results.pkl")
df

,num_points,opt_len,nn_len,untouched_len,nwsp5_len,nwsp7_len,nwsp9_len
name,,,,,,,
berlin52,52,28353.570643,9194.130643,10818.833107,NaN,NaN,NaN
bier127,127,NaN,139602.236419,173055.130034,NaN,NaN,NaN
brd14051,14051,NaN,575718.536949,837139.5488,NaN,NaN,NaN
ch130,130,43509.343306,7378.680775,10043.991903,NaN,NaN,NaN
ch150,150,53488.012505,7982.489176,10882.8634,NaN,NaN,NaN
...,...,...,...,...,...,...,...
u574,574,NaN,48675.570373,73100.255604,NaN,NaN,NaN
u724,724,NaN,54024.446688,83230.419554,NaN,NaN,NaN
usa13509,13509,NaN,25178315.446225,39019971.446296,NaN,NaN,NaN
vm1084,1084,NaN,301229.210482,506252.713343,NaN,NaN,NaN
vm1748,1748,NaN,427298.761754,681211.261718,NaN,NaN,NaN

In [2]:
df[df['opt_len'] >= 0]

,num_points,opt_len,nn_len,untouched_len,nwsp5_len,nwsp7_len,nwsp9_len
name,,,,,,,
berlin52,52,28353.570643,9194.130643,10818.833107,NaN,NaN,NaN
ch130,130,43509.343306,7378.680775,10043.991903,NaN,NaN,NaN
ch150,150,53488.012505,7982.489176,10882.8634,NaN,NaN,NaN
eil101,101,3414.179007,862.68158,939.98217,NaN,NaN,NaN
eil51,51,1703.035491,590.674036,562.995183,NaN,NaN,NaN
eil76,76,2591.432838,707.751657,790.592842,NaN,NaN,NaN
kroA100,100,172945.041771,27385.446195,39076.531975,NaN,NaN,NaN
kroC100,100,154293.365407,28820.352399,38320.748276,NaN,NaN,NaN
kroD100,100,172629.678675,27428.500507,40281.487011,NaN,NaN,NaN
lin105,105,58927.405641,19227.496918,25095.371175,NaN,NaN,NaN
pcb442,442,329785.979219,64601.010912,86475.992492,NaN,NaN,NaN
pr1002,1002,1030912.122911,339112.602285,491294.65235,NaN,NaN,NaN
pr2392,2392,687553.627343,460230.26657,687553.627343,NaN,NaN,NaN
pr76,76,253193.400845,135240.281438,167144.965989,NaN,NaN,NaN
st70,70,3310.679311,831.509542,1003.890564,NaN,NaN,NaN
tsp225,225,16642.104006,4917.376755,6947.247053,NaN,NaN,NaN